workflows/Fully Automated Candidate Pipeline 1.json
{
  "name": "Fully Automated Candidate Pipeline 1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-assessment",
        "options": {}
      },
      "id": "555dd830-fd86-431a-b453-987679a1c8ea",
      "name": "Generate Assessment Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        96,
        -96
      ],
      "webhookId": "8fd6d1d4-261d-43eb-a71d-ecf40c661169"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM hr_assessments WHERE id = {{$json.body.assessment_id || 1}}::integer;",
        "options": {}
      },
      "id": "87219323-5d27-425a-8a80-074bc524b434",
      "name": "Fetch Job Description",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        320,
        -96
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "folderId": "01PQMN3I6B7FHVWHACGBHL4IIQZREFJRBJ"
      },
      "id": "c8cd2c70-9501-484d-b0c7-620fb575e154",
      "name": "Get items in a folder",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        544,
        -96
      ]
    },
    {
      "parameters": {
        "url": "={{$json[\"@microsoft.graph.downloadUrl\"]}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftSharePointOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "32106d88-1708-4607-b1ea-0beef209d607",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        -96
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "2a87fcbc-f145-4728-b040-82e5bdcff68e",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        976,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "const jdNodes = $('Fetch Job Description').all();\nconst jd = jdNodes.length > 0 ? jdNodes[0].json : {};\n\n// hr_assessments stores skills as Postgres text[] array e.g. {Node.js,PostgreSQL,Docker}\nlet skillsText = 'Programming';\ntry {\n  if (Array.isArray(jd.skills)) {\n    skillsText = jd.skills.join(', ');\n  } else if (typeof jd.skills === 'string') {\n    skillsText = jd.skills.replace(/[{}]/g, '');\n  }\n} catch(e) {}\n\n// Include full JD if available for richer context\nconst jobDescContext = jd.job_description ? `\\n\\n**FULL JOB DESCRIPTION:**\\n${jd.job_description}` : '';\n\nconst resumes = $input.all();\n\nlet combinedResumesText = '';\nresumes.forEach((r, idx) => {\n  combinedResumesText += `\\n\\n--- CANDIDATE RESUME ${idx + 1} ---\\n${r.json.text || 'Error extracting text'}`;\n});\n\nconst prompt = `### TASK\nEvaluate EVERY candidate resume below against the job requirements. Return ONLY a JSON object with a \"candidates\" array — no markdown, no extra text.\n\n### JOB REQUIREMENTS\n- Position: ${jd.role_title || 'Software Engineer'}\n- Required Skills: ${skillsText}\n- Experience Level: ${jd.experience_level || 'Not Specified'}\n- Coding Assessment Required: ${jd.include_coding ? 'Yes' : 'No'}${jobDescContext}\n\n### CANDIDATE RESUMES TO ANALYZE\n${combinedResumesText}\n\n### SCORING RUBRIC — compute match_score (0-100) using EXACTLY these three weighted criteria:\n\n**A. Required Skills Match (50 pts)**\nFor each required skill listed above, award points proportionally:\n- Direct match (same exact technology): full credit\n- Close equivalent (e.g. MySQL -> PostgreSQL, Flask -> FastAPI, Vue -> React, Express -> Node.js): 80% credit\n- Adjacent/transferable (e.g. any SQL DB -> SQL skills, any JS framework -> JS skills): 50% credit\n- No relevant overlap: 0 credit\nA_score = (weighted_coverage_sum / max_possible) x 50\n\n**B. Adjacent & Complementary Skills (25 pts)**\n- 20-25: Rich complementary stack that clearly adds value to this role\n- 10-19: Moderate adjacent skills with some relevance\n- 0-9: Narrow or unrelated additional skills\n\n**C. Experience & Career Trajectory (25 pts)**\n- 22-25: Senior/Principal, domain-matched, complex production-grade projects\n- 15-21: Mid-level, clearly relevant work, demonstrated growth pattern\n- 8-14: Junior/associate with relevant experience or coursework, progression visible\n- 0-7: Entry-level, no professional experience, or unrelated career background\n\n**Calibration Anchors:**\n- 85-100: >=70% required skills covered AND experience level aligns with the role\n- 70-84: 50-70% required skills OR exceptional transferable profile\n- 50-69: 30-50% required skills, adjacent technical domain\n- 30-49: <30% required skills, solid generalist but significant gaps\n- 0-29: Unrelated background, no meaningful technical overlap\n\n**Consistency Check:** Before finalising, rank all candidates and verify every score gap of >=10 points reflects a clearly articulable difference in skills or seniority level.\n\n### FIELD EXTRACTION — extract ONLY what is explicitly written in the resume, never infer or hallucinate:\n- name: full name as written in resume\n- email: email address (use \"not_provided@resume.com\" if absent)\n- phone: phone number string, or \"\" if absent\n- location: city/country string, or \"\" if absent\n- current_company: most recent employer name, or \"\" if absent\n- job_title: most recent job title from resume\n- experience_years: total professional years as integer (0 if unknown)\n- match_score: integer 0-100 calculated per the rubric above\n- ai_analysis.key_strengths: 2-4 specific strengths relevant to THIS role, citing actual skills or projects from the resume\n- ai_analysis.concerns: 0-3 genuine gaps for this role (empty array [] if none)\n- ai_analysis.reasoning: 2-3 sentences citing specific technologies, years, or projects that explain why this score was assigned\n\n### OUTPUT FORMAT\nReturn ONLY this structure — no markdown fences, no labels, no text outside the JSON:\n{\"candidates\": [...]}`;\n\nreturn {\n  json: {\n    aiPrompt: prompt,\n    job_id: jd.id,\n    role_title: jd.role_title || 'Software Engineer',\n    skills: skillsText,\n    experience_level: jd.experience_level || 'Not Specified',\n    jid: jd.jid || null,\n    include_coding: jd.include_coding || false,\n    mcq_time_limit: jd.mcq_time_limit || 30\n  }\n};\n"
      },
      "id": "14cc6c71-f417-439e-828d-a465c2011664",
      "name": "Prepare Dynamic AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -96
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.aiPrompt }}"
      },
      "id": "fbc961ae-b9b1-4039-a40c-d5c4970e4af1",
      "name": "AI Resume Matcher",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1424,
        -96
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "id": "625f9961-b2c5-4064-b28d-9c6d1c7c2f8c",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1424,
        112
      ]
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"candidates\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": {\n            \"type\": \"string\"\n          },\n          \"email\": {\n            \"type\": \"string\"\n          },\n          \"phone\": {\n            \"type\": \"string\"\n          },\n          \"location\": {\n            \"type\": \"string\",\n            \"description\": \"City/country from resume\"\n          },\n          \"current_company\": {\n            \"type\": \"string\",\n            \"description\": \"Most recent employer name\"\n          },\n          \"job_title\": {\n            \"type\": \"string\"\n          },\n          \"experience_years\": {\n            \"type\": \"number\"\n          },\n          \"match_score\": {\n            \"type\": \"number\",\n            \"description\": \"Integer 0-100 per rubric\"\n          },\n          \"ai_analysis\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"key_strengths\": {\n                \"type\": \"array\",\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"concerns\": {\n                \"type\": \"array\",\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"reasoning\": {\n                \"type\": \"string\"\n              }\n            },\n            \"required\": [\n              \"key_strengths\",\n              \"concerns\",\n              \"reasoning\"\n            ]\n          }\n        },\n        \"required\": [\n          \"name\",\n          \"email\",\n          \"match_score\",\n          \"ai_analysis\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"candidates\"\n  ]\n}"
      },
      "id": "8d076ca9-c48d-4271-af77-7e4b849666ef",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1,
      "position": [
        1584,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconsole.log('=== RAW AI OUTPUT KEYS ===', Object.keys(data));\n\n// The chainLlm + StructuredOutputParser can return data in multiple formats:\n// 1. data.text (raw text with JSON/markdown)\n// 2. data.output (structured object or string)\n// 3. data.candidates (directly parsed)\n// 4. data directly IS the parsed object\n\nlet candidates = [];\n\n// Strategy 1: Direct candidates array\nif (data.candidates && Array.isArray(data.candidates)) {\n  console.log('Found candidates directly in data.candidates');\n  candidates = data.candidates;\n}\n// Strategy 2: Nested in output object\nelse if (data.output) {\n  let outputData = data.output;\n  if (typeof outputData === 'string') {\n    try {\n      const cleaned = outputData.replace(/```(?:json)?([\\s\\S]*?)```/, '$1').trim();\n      outputData = JSON.parse(cleaned);\n    } catch(e) { console.log('Failed to parse output string'); }\n  }\n  if (outputData && outputData.candidates) {\n    candidates = outputData.candidates;\n    console.log('Found candidates in data.output.candidates');\n  } else if (Array.isArray(outputData)) {\n    candidates = outputData;\n    console.log('data.output is array of candidates');\n  }\n}\n// Strategy 3: Raw text with JSON\nelse if (data.text) {\n  let rawText = data.text;\n  const jsonMatch = rawText.match(/```(?:json)?([\\s\\S]*?)```/);\n  if (jsonMatch && jsonMatch[1]) rawText = jsonMatch[1].trim();\n  try {\n    const parsed = JSON.parse(rawText);\n    candidates = parsed.candidates || (Array.isArray(parsed) ? parsed : []);\n    console.log('Parsed candidates from text field');\n  } catch(e) {\n    console.log('Failed to parse text field');\n  }\n}\n\nif (!Array.isArray(candidates)) candidates = [candidates];\ncandidates = candidates.filter(c => c && c.name);\n\nconsole.log(`=== EXTRACTED ${candidates.length} CANDIDATES ===`);\ncandidates.forEach((c, i) => {\n  console.log(`  ${i+1}. ${c.name} | score: ${c.match_score} | email: ${c.email}`);\n});\n\n// Get job context from earlier node\nconst promptData = $('Prepare Dynamic AI Prompt').first().json;\n\nreturn candidates.map(candidate => {\n  // Explicitly extract and cast match_score to integer\n  let score = candidate.match_score || candidate.matchScore || candidate.score || 0;\n  if (typeof score === 'string') score = parseInt(score, 10);\n  score = Math.round(score);\n\n  return {\n    json: {\n      name: candidate.name || 'Unknown',\n      email: candidate.email || '',\n      phone: candidate.phone || '',\n      location: candidate.location || '',\n      current_company: candidate.current_company || candidate.currentCompany || '',\n      job_title: candidate.job_title || candidate.current_title || '',\n      experience_years: candidate.experience_years || candidate.experienceYears || 0,\n      match_score: score,\n      skills: candidate.skills || [],\n      ai_analysis: candidate.ai_analysis || candidate.aiAnalysis || {},\n      screening_id: 'scr_' + Date.now() + '_' + Math.random().toString(36).substr(2, 5),\n      role_title: promptData.role_title || 'Software Engineer',\n      jid: promptData.jid || null\n    }\n  };\n});"
      },
      "id": "46dc57ea-35a8-4b55-9f1f-3c6b71289160",
      "name": "Convert AI Output to Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// AUTOMATED: Process Candidates & Generate MCQ Questions\n// Bypasses HR Form - automatically generates MCQs for top candidates from AI Resume Matcher\n\nconst candidateItems = $input.all();\n\n// Get job requirements from earlier in the workflow\nlet jobRequirements = {};\ntry {\n  const jdNodes = $('Fetch Job Description').all();\n  if (jdNodes.length > 0) {\n    jobRequirements = jdNodes[0].json;\n  }\n} catch (error) {\n  console.log('Could not get job requirements from DB');\n}\n\n// Extract configuration from JD or use defaults\n// Assumes focus_areas is stored in DB. If not, fallback to Comprehensive\nlet focusAreas = ['Comprehensive Assessment (All Areas)'];\ntry {\n  if (jobRequirements.skills) {\n    focusAreas = Array.isArray(jobRequirements.skills) ? jobRequirements.skills : [jobRequirements.skills];\n  }\n} catch (e) {}\n\nconst assessmentType = ['Standard MCQ Assessment']; // Automated default\nconst questionPoolSize = jobRequirements.question_count || 5;\nconst questionsPerCandidate = Math.min(3, questionPoolSize); // Example: 3 questions per candidate\n\nconsole.log('Focus Areas:', focusAreas);\nconsole.log(`Pool Size: ${questionPoolSize}, Per Candidate: ${questionsPerCandidate}`);\n\n// Process candidates\nconst selectedCandidates = candidateItems.map((item, index) => {\n  const c = item.json;\n  \n  // Use the screening_id generated by Convert AI Output to Items\n  const screeningId = c.screening_id || `screening_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n  \n  return {\n    id: `candidate_${index + 1}`,\n    name: c.name || 'Unknown',\n    email: c.email || 'no-email@example.com',\n    phone: c.phone || '',\n    location: c.location || '',\n    currentCompany: c.current_company || '',\n    jobTitle: c.job_title || jobRequirements.job_title || '',\n    experienceYears: c.experience_years || 0,\n    skills: c.skills || [],\n    matchScore: c.match_score || 0,\n    aiAnalysis: c.ai_analysis || {},\n    \n    screeningId: screeningId,\n    linkExpiration: new Date(Date.now() + 3 * 24 * 60 * 60 * 1000).toISOString(),\n    assessmentStatus: 'invited',\n    invitedAt: new Date().toISOString()\n  };\n});\n\nconsole.log(`Processing ${selectedCandidates.length} automatically selected candidates`);\n\nconst includeCoding = assessmentType.some(type => type.includes('coding challenge'));\nconst focusOnTechStack = assessmentType.some(type => type.includes('technology stack'));\n\n// Survey questions (Empty for automated flow unless pulled from DB)\nconst surveyQuestions = [];\n\nconst generateMCQPrompt = () => {\n  const jobTitle = jobRequirements.role_title || jobRequirements.job_title || 'Software Engineer';\n  const requiredSkills = jobRequirements.skills ? jobRequirements.skills.join(', ') : 'Programming skills';\n  const optionalSkills = jobRequirements.optional_skills || 'None';\n  const experienceLevel = jobRequirements.experience_level || '2-5 years';\n  \n  return `### TASK\nGenerate exactly ${questionPoolSize} MCQ questions to screen candidates for the ${jobTitle} role. These form a timed technical assessment pool.\n\n### JOB CONTEXT\n- Position: ${jobTitle}\n- Experience Level: ${experienceLevel}\n- Required Skills: ${requiredSkills}\n- Coding/Algorithm Questions: ${includeCoding ? 'Yes — include at least one code-reading or logic question' : 'No'}\n\n### SKILL COVERAGE\nCover these focus areas (highest priority first): ${focusAreas.join(', ')}\nEach required skill must be tested by at least one question.\n\n### DIFFICULTY DISTRIBUTION across all ${questionPoolSize} questions:\n- 30% easy — conceptual understanding, basic usage (timeLimit: 60s)\n- 50% medium — applied knowledge, common patterns, debugging (timeLimit: 90s)\n- 20% hard — advanced usage, edge cases, architectural decisions (timeLimit: 120s)\n\n### QUESTION QUALITY REQUIREMENTS for EVERY question:\n- ONE unambiguously correct answer — no 'all of the above', no 'none of the above'\n- THREE plausible distractors a weak candidate might choose (not obviously wrong)\n- Scenario-based phrasing preferred: \"Given X situation, what would you expect / do?\"\n- Tests applied understanding or real-world judgment, not documentation recall\n- Clear, precise language — no double negatives, no ambiguous wording\n\n### REQUIRED OUTPUT FORMAT\nReturn ONLY valid JSON — no markdown code fences, no explanation, no text outside the JSON:\n{\n  \"assessmentMetadata\": {\n    \"jobTitle\": \"${jobTitle}\",\n    \"totalQuestions\": ${questionPoolSize},\n    \"estimatedDuration\": \"15 minutes\",\n    \"difficulty\": \"intermediate\"\n  },\n  \"questions\": [\n    {\n      \"id\": 1,\n      \"category\": \"Name of skill being tested\",\n      \"difficulty\": \"easy\",\n      \"question\": \"Scenario-based question text here\",\n      \"options\": { \"A\": \"...\", \"B\": \"...\", \"C\": \"...\", \"D\": \"...\" },\n      \"correctAnswer\": \"A\",\n      \"explanation\": \"Why A is correct. Why B is wrong. Why C is wrong. Why D is wrong.\",\n      \"timeLimit\": 60\n    }\n  ]\n}`;\n};\n\nconst mcqPrompt = generateMCQPrompt();\n\nconst screeningLinks = selectedCandidates.map(candidate => ({\n  candidateId: candidate.screeningId,\n  candidateName: candidate.name,\n  candidateEmail: candidate.email,\n  screeningUrl: `http://localhost:5173/candidate/selfie-verification?id=${candidate.screeningId}`,\n  expiresAt: candidate.linkExpiration,\n  generatedAt: new Date().toISOString()\n}));\n\nconst emailTasks = selectedCandidates.map((candidate, index) => {\n  const screeningLink = screeningLinks[index];\n  \n  return {\n    to: candidate.email,\n    candidateName: candidate.name,\n    subject: `Technical Assessment Invitation - ${jobRequirements.role_title || 'Position'}`,\n    emailBody: `\n<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: 0 auto; background: #ffffff;\">\n  <div style=\"background: linear-gradient(135deg, #1e40af, #3b82f6); padding: 32px 24px; text-align: center; border-radius: 8px 8px 0 0;\">\n    <h1 style=\"color: #ffffff; font-size: 24px; margin: 0;\">CBC Inc.</h1>\n    <p style=\"color: #bfdbfe; font-size: 13px; margin: 8px 0 0 0; letter-spacing: 1px;\">AI-POWERED CANDIDATE SCREENING</p>\n  </div>\n  <div style=\"padding: 32px 24px; border: 1px solid #e5e7eb; border-top: none;\">\n    <h2 style=\"color: #1e293b; font-size: 20px; margin: 0 0 16px 0;\">Technical Assessment Invitation</h2>\n    <p style=\"color: #475569; font-size: 15px; line-height: 1.6;\">Dear <strong>${candidate.name}</strong>,</p>\n    <p style=\"color: #475569; font-size: 15px; line-height: 1.6;\">Thank you for your interest in the <strong>${jobRequirements.role_title || 'Position'}</strong> role at CBC Inc. After reviewing your profile, we are pleased to invite you to complete our technical assessment.</p>\n    <div style=\"background: #f8fafc; border: 1px solid #e2e8f0; border-radius: 8px; padding: 16px; margin: 20px 0;\">\n      <table style=\"width: 100%; font-size: 14px; color: #475569;\">\n        <tr><td style=\"padding: 6px 0; font-weight: 600;\">Position</td><td style=\"padding: 6px 0;\">${jobRequirements.role_title || 'Position'}</td></tr>\n        <tr><td style=\"padding: 6px 0; font-weight: 600;\">Assessment Type</td><td style=\"padding: 6px 0;\">Technical MCQ</td></tr>\n        <tr><td style=\"padding: 6px 0; font-weight: 600;\">Link Expires</td><td style=\"padding: 6px 0;\">${new Date(candidate.linkExpiration).toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}</td></tr>\n      </table>\n    </div>\n    <div style=\"background: #eff6ff; border-left: 4px solid #3b82f6; padding: 14px 16px; margin: 20px 0; border-radius: 0 6px 6px 0;\">\n      <p style=\"margin: 0; font-size: 14px; color: #1e40af;\"><strong>What to expect:</strong></p>\n      <ul style=\"margin: 8px 0 0 0; padding-left: 18px; font-size: 13px; color: #334155; line-height: 1.8;\">\n        <li>Identity verification (camera required)</li>\n        <li>Timed multiple-choice technical questions</li>\n        <li>Ensure a quiet, well-lit environment</li>\n        <li>Use a stable internet connection</li>\n      </ul>\n    </div>\n    <div style=\"text-align: center; margin: 28px 0;\">\n      <a href=\"${screeningLink.screeningUrl}\" style=\"background: #2563eb; color: #ffffff; padding: 14px 36px; text-decoration: none; border-radius: 8px; font-size: 16px; font-weight: 600; display: inline-block;\">Start Assessment</a>\n    </div>\n    <p style=\"color: #94a3b8; font-size: 12px; text-align: center;\">If the button doesn't work, copy and paste this link into your browser:<br/><a href=\"${screeningLink.screeningUrl}\" style=\"color: #3b82f6; word-break: break-all;\">${screeningLink.screeningUrl}</a></p>\n  </div>\n  <div style=\"background: #f8fafc; padding: 16px 24px; text-align: center; border: 1px solid #e5e7eb; border-top: none; border-radius: 0 0 8px 8px;\">\n    <p style=\"color: #94a3b8; font-size: 11px; margin: 0;\">This is an automated message from CBC Inc. Hiring Platform. Please do not reply to this email.</p>\n  </div>\n</div>`,\n    screeningId: candidate.screeningId\n  };\n});\n\nreturn [{\n  json: {\n    mcqPrompt: mcqPrompt,\n    selectedCandidates: selectedCandidates,\n    candidateCount: selectedCandidates.length,\n    surveyQuestions: surveyQuestions,\n    jobRequirements: jobRequirements,\n    emailTasks: emailTasks,\n    assessmentConfig: {\n      questionPoolSize: questionPoolSize,\n      questionsPerCandidate: questionsPerCandidate,\n      estimatedDuration: 15\n    }\n  }\n}];\n"
      },
      "id": "f881f7e3-d4be-41be-a591-23f8370a05f2",
      "name": "Process Selections & Generate MCQ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        -96
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mcqPrompt }}",
        "options": {
          "systemMessage": "You are a senior technical assessment engineer specialising in MCQ design for software engineering roles.\n\nQUESTION QUALITY STANDARDS — every question MUST satisfy ALL of these:\n1. Exactly one option is unambiguously correct — no 'all of the above', no 'none of the above', no 'both A and B'\n2. The three wrong options are plausible to a candidate who lacks deep knowledge (not obviously wrong)\n3. Questions test applied understanding or real-world problem-solving, not documentation recall or trivia\n4. Questions cannot be answered by pattern-matching without genuine conceptual understanding\n5. Language is precise, clear, and unambiguous — no double negatives\n\nCRITICAL: Return ONLY valid JSON in the exact format specified in the prompt. No markdown code fences, no preamble, no explanation outside the JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2640,
        -96
      ],
      "id": "a97e85b9-ef16-4313-88d5-f4e9e95d521d",
      "name": "MCQ Generation Agent"
    },
    {
      "parameters": {
        "jsCode": "// Parse MCQ Output & Prepare Email Data - FIXED VERSION\nconst mcqResponse = $input.first().json;\nconst mcqGenerationData = $('Process Selections & Generate MCQ').first().json;\n \n// Extract MCQ questions from AI response\nlet mcqQuestions = [];\nlet assessmentMetadata = {};\n \ntry {\n  const outputText = mcqResponse.output;\n  const cleanedOutput = outputText.replace(/```json\\n|\\n```|```/g, '').trim();\n  const parsedMCQ = JSON.parse(cleanedOutput);\n \n  mcqQuestions = parsedMCQ.questions || [];\n  assessmentMetadata = parsedMCQ.assessmentMetadata || {};\n \n  console.log(`Successfully parsed ${mcqQuestions.length} MCQ questions`);\n \n} catch (error) {\n  console.log('Error parsing MCQ JSON:', error.message);\n  return [{\n    json: {\n      error: 'Failed to parse MCQ questions',\n      details: error.message,\n      rawOutput: mcqResponse.output\n    }\n  }];\n}\n \nconst emailTasks = mcqGenerationData.emailTasks || [];\nconst selectedCandidates = mcqGenerationData.selectedCandidates || [];\n \nconst enhancedEmailTasks = emailTasks.map((emailTask, index) => {\n \n  const matchingCandidate = selectedCandidates.find(c => c.email === emailTask.to);\n  const screeningId = matchingCandidate?.screeningId || emailTask.screeningId;\n \n  // Use the clean email template directly\n  return {\n    ...emailTask,\n    screeningId,\n    enhancedEmailBody: emailTask.emailBody,\n \n    mcqData: {\n      questionCount: mcqQuestions.length,\n      assessmentMetadata,\n      estimatedDuration: assessmentMetadata.estimatedDuration || '30 minutes',\n      difficulty: assessmentMetadata.difficulty || 'intermediate'\n    },\n \n    emailMetadata: {\n      hasValidMCQ: mcqQuestions.length > 0,\n      questionCount: mcqQuestions.length,\n      candidateName: emailTask.candidateName,\n      candidateEmail: emailTask.to,\n      screeningId,\n      readyToSend: true\n    }\n  };\n});\n \nconst assessmentData = {\n  assessmentId: `assessment_${Date.now()}`,\n  jobTitle: assessmentMetadata.jobTitle || 'Data Scientist',\n  createdAt: new Date().toISOString(),\n  expiresAt: selectedCandidates[0]?.linkExpiration || new Date(Date.now() + 3 * 24 * 60 * 60 * 1000).toISOString(),\n \n  metadata: assessmentMetadata,\n  questions: mcqQuestions,\n \n  candidates: selectedCandidates.map(candidate => ({\n    screeningId: candidate.screeningId,\n    name: candidate.name,\n    email: candidate.email,\n    status: 'invited',\n    invitedAt: candidate.invitedAt,\n    linkExpiration: candidate.linkExpiration\n  })),\n \n  configuration: {\n    questionCount: mcqQuestions.length,\n    timeLimit: assessmentMetadata.estimatedDuration || '30 minutes',\n    proctoring: true,\n    singleAttempt: true,\n    antiCheating: true\n  }\n};\n \nreturn [{\n  json: {\n    emailTasks: enhancedEmailTasks,\n    emailCount: enhancedEmailTasks.length,\n    mcqQuestions,\n    assessmentMetadata,\n    assessmentData,\n    success: mcqQuestions.length > 0 && enhancedEmailTasks.length > 0,\n    readyForEmailSending: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3104,
        -96
      ],
      "id": "41a8fc57-1e74-4b1f-9e3a-e925556a1672",
      "name": "Parse MCQ & Prepare Emails"
    },
    {
      "parameters": {
        "fieldToSplitOut": "emailTasks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3328,
        -96
      ],
      "id": "cc74ec2e-be5e-40d5-9b0f-091328802147",
      "name": "Split Out"
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "bodyContent": "={{ $json.enhancedEmailBody }}",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        3568,
        -96
      ],
      "id": "30beaf22-4ca5-453d-a496-c8a3d73cae0e",
      "name": "Send a message",
      "webhookId": "f7041949-0d39-4752-ad34-bb7e9760b190"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2512,
        176
      ],
      "id": "c60831f5-3038-4d1f-a3fa-bb578e23bda4",
      "name": "Groq Chat Model1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "candidatesData",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4064,
        400
      ],
      "id": "591bf965-1f2d-4676-aea1-efdfa38bb6a3",
      "name": "Split Candidates"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "candidates_v2",
          "mode": "list",
          "cachedResultName": "candidates_v2"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "screening_id",
              "displayName": "screening_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current_company",
              "displayName": "current_company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "match_score",
              "displayName": "match_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "required_skills",
              "displayName": "required_skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "experience_level",
              "displayName": "experience_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "salary_expectation",
              "displayName": "salary_expectation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "expires_at",
              "displayName": "expires_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "identity_verified",
              "displayName": "identity_verified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "verification_required",
              "displayName": "verification_required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "verification_attempts",
              "displayName": "verification_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_verification_attempt",
              "displayName": "last_verification_attempt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "survey_validation_status",
              "displayName": "survey_validation_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "survey_completed_at",
              "displayName": "survey_completed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "technical_assessment_unlocked",
              "displayName": "technical_assessment_unlocked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resume_drive_id",
              "displayName": "resume_drive_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resume_file_name",
              "displayName": "resume_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resume_drive_url",
              "displayName": "resume_drive_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resume_text",
              "displayName": "resume_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "jid",
              "displayName": "jid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4240,
        400
      ],
      "id": "32aa7872-462e-4a77-b4db-d0f58949d0e1",
      "name": "Insert Candidates"
    },
    {
      "parameters": {
        "fieldToSplitOut": "jobRequirementsData",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3920,
        592
      ],
      "id": "75e2e6e6-930b-4017-86a3-58e1c8e16464",
      "name": "Split Job Requirements"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "job_requirements_v2",
          "mode": "list",
          "cachedResultName": "job_requirements_v2"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "screening_id",
              "displayName": "screening_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "required_skills",
              "displayName": "required_skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "experience_level",
              "displayName": "experience_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "salary_budget",
              "displayName": "salary_budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "question_count",
              "displayName": "question_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "time_limit",
              "displayName": "time_limit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "difficulty",
              "displayName": "difficulty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "focus_areas",
              "displayName": "focus_areas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "optional_skills",
              "displayName": "optional_skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4144,
        592
      ],
      "id": "8843c26a-d5dc-4540-b47c-d1253eb22e55",
      "name": "Insert Job Requirements"
    },
    {
      "parameters": {
        "fieldToSplitOut": "surveyQuestionsData",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3920,
        992
      ],
      "id": "6e49d9d5-3586-42d3-a6f6-e138b12324b9",
      "name": "Split Survey Questions"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "survey_questions",
          "mode": "list",
          "cachedResultName": "survey_questions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "screening_id": "={{ $json.screening_id }}",
            "question_id": "={{ $json.question_id }}",
            "question_text": "={{ $json.question_text }}",
            "question_type": "={{ $json.question_type }}",
            "options": "={{ $json.options }}",
            "created_at": "={{ $json.created_at }}",
            "expected_answer": "={{ $json.expected_answer }}",
            "is_qualifying": "={{ $json.is_qualifying }}",
            "question_category": "={{ $json.question_category }}",
            "validation_type": "={{ $json.validation_type }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "screening_id",
              "displayName": "screening_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "question_id",
              "displayName": "question_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "question_text",
              "displayName": "question_text",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "question_type",
              "displayName": "question_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "options",
              "displayName": "options",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "expected_answer",
              "displayName": "expected_answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_qualifying",
              "displayName": "is_qualifying",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "question_category",
              "displayName": "question_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "validation_type",
              "displayName": "validation_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4160,
        992
      ],
      "id": "d43ac0f4-7432-4b52-a92e-30af9a0ccd2e",
      "name": "Insert Survey Questions"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// Enrich Candidates with Resume Data - OneDrive Version\n// This adds resume information to candidate data before database storage\n// ========================================\nconst storeData = $input.first().json;\nconsole.log('=== ENRICHING CANDIDATES WITH RESUME DATA ===');\n// Get candidate data from Store Assessment Data node\nconst candidatesData = storeData.candidatesData || [];\nconsole.log(`Processing ${candidatesData.length} candidates`);\n// Get OneDrive file metadata from earlier in workflow\nlet driveFiles = [];\ntry {\n  driveFiles = $('Get items in a folder').all();\n  console.log(`✅ Found ${driveFiles.length} OneDrive files`);\n} catch (error) {\n  console.log('⚠️ Could not get OneDrive files:', error.message);\n}\n// Get extracted resume text from earlier in workflow  \nlet extractedTexts = [];\ntry {\n  extractedTexts = $('Extract from File').all();\n  console.log(`✅ Found ${extractedTexts.length} extracted resume texts`);\n} catch (error) {\n  console.log('⚠️ Could not get extracted texts:', error.message);\n}\n// Create a mapping of candidate email to resume data\n// We'll match candidates to their resumes by email or name\nconst resumeDataMap = {};\n// First, try to get candidate info from AI processing\nlet aiCandidates = [];\ntry {\n  aiCandidates = $('Convert AI Output to Items').all();\n  console.log(`✅ Found ${aiCandidates.length} AI-processed candidates`);\n} catch (error) {\n  console.log('⚠️ Could not get AI candidates');\n}\n// Build the resume mapping\naiCandidates.forEach((candidate, index) => {\n  const candidateJson = candidate.json;\n  const email = candidateJson.email;\n  if (email && driveFiles[index] && extractedTexts[index]) {\n    const driveFile = driveFiles[index].json;\n    const extractedData = extractedTexts[index].json;\n    resumeDataMap[email] = {\n      resume_drive_id: driveFile.id || null,\n      resume_file_name: driveFile.name || null,\n      resume_drive_url: driveFile.webUrl || null,\n      resume_text: extractedData.text || null\n    };\n    console.log(`  ✅ Mapped resume for: ${email}`);\n    console.log(`     - Drive ID: ${driveFile.id}`);\n    console.log(`     - File Name: ${driveFile.name}`);\n    console.log(`     - Text Length: ${extractedData.text?.length || 0} chars`);\n  }\n});\nconsole.log(`✅ Created resume mapping for ${Object.keys(resumeDataMap).length} candidates`);\n// Enrich each candidate with their resume data\nconst enrichedCandidates = candidatesData.map(candidate => {\n  const email = candidate.email;\n  const resumeData = resumeDataMap[email] || {\n    resume_drive_id: null,\n    resume_file_name: null,\n    resume_drive_url: null,\n    resume_text: null\n  };\n  if (resumeData.resume_drive_id) {\n    console.log(`  ✅ Enriched: ${candidate.name} (${email})`);\n  } else {\n    console.log(`  ⚠️ No resume data for: ${candidate.name} (${email})`);\n  }\n  return {\n    ...candidate,\n    ...resumeData\n  };\n});\nconsole.log(`\\n✅ ENRICHMENT COMPLETE:`);\nconsole.log(`  - Total candidates: ${enrichedCandidates.length}`);\nconsole.log(`  - With resume data: ${enrichedCandidates.filter(c => c.resume_drive_id).length}`);\nconsole.log(`  - Missing resume data: ${enrichedCandidates.filter(c => !c.resume_drive_id).length}`);\n// Return enriched data in the same format as Store Assessment Data\nreturn [{\n  json: {\n    ...storeData,  // Keep all original data\n    candidatesData: enrichedCandidates  // Replace with enriched candidates\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3904,
        400
      ],
      "id": "6e63efb5-311b-4a8a-a420-030f693e489d",
      "name": "Add resume text to candidate table"
    },
    {
      "parameters": {
        "jsCode": "// ENHANCED Store Assessment Data - PostgreSQL Version with QUALIFYING SURVEY QUESTIONS\n// This node prepares data for PostgreSQL storage with unique questions per candidate + qualifying survey questions\n\nconst emailData = $input.all();\n\nconsole.log('=== POSTGRESQL STORE ASSESSMENT DATA WITH QUALIFYING SURVEY QUESTIONS ===');\n\n// Get candidate data from earlier workflow nodes\nlet mcqQuestions = [];\nlet assessmentMetadata = {};\nlet selectedCandidates = [];\nlet emailTasks = [];\nlet jobRequirements = {};\n\ntry {\n  const mcqData = $('Parse MCQ & Prepare Emails').first().json;\n  mcqQuestions = mcqData.mcqQuestions || [];\n  assessmentMetadata = mcqData.assessmentMetadata || {};\n  emailTasks = mcqData.emailTasks || [];\n  \n  const selectionData = $('Process Selections & Generate MCQ').first().json;\n  selectedCandidates = selectionData.selectedCandidates || [];\n  jobRequirements = selectionData.jobRequirements || {};\n  \n  console.log('✅ Retrieved data from workflow nodes');\n  console.log(`✅ Question pool size: ${mcqQuestions.length}`);\n  \n} catch (error) {\n  console.error('❌ Error getting assessment data:', error.message);\n}\n\n// ✅ EXTRACT SURVEY QUESTIONS with EXPECTED ANSWERS from workflow\nlet workflowSurveyQuestions = [];\ntry {\n  const selectionData = $('Process Selections & Generate MCQ').first().json;\n  workflowSurveyQuestions = selectionData.surveyQuestions || [];\n  console.log(`✅ Found ${workflowSurveyQuestions.length} survey questions for database storage`);\n  if (workflowSurveyQuestions.length > 0) {\n    console.log('Survey questions with expected answers:');\n    workflowSurveyQuestions.forEach(q => {\n      console.log(`  - ${q.fieldLabel} (${q.questionCategory}${q.expectedAnswer ? `, expects: ${q.expectedAnswer}` : ''})`);\n    });\n  }\n} catch (error) {\n  console.log('No survey questions found for database storage');\n  workflowSurveyQuestions = [];\n}\n\n// ✅ SHUFFLE FUNCTION for random question selection\nfunction shuffleArray(array) {\n  const shuffled = [...array];\n  for (let i = shuffled.length - 1; i > 0; i--) {\n    const j = Math.floor(Math.random() * (i + 1));\n    [shuffled[i], shuffled[j]] = [shuffled[j], shuffled[i]];\n  }\n  return shuffled;\n}\n\n// ✅ CONFIGURATION from assessment metadata\nconst questionPoolSize = mcqQuestions.length;\nconst questionsPerCandidate = Math.min(assessmentMetadata.questionsPerCandidate || mcqQuestions.length, mcqQuestions.length);\n\nconsole.log(`✅ Questions per candidate: ${questionsPerCandidate}`);\nconsole.log(`✅ Total pool size: ${questionPoolSize}`);\nconsole.log(`✅ Survey questions to store: ${workflowSurveyQuestions.length}`);\n\n// Validate we have enough questions\nconsole.log(`Question pool has ${mcqQuestions.length} questions, assigning ${questionsPerCandidate} per candidate`);\n\n// Process assessment sessions with UNIQUE QUESTIONS per candidate\nconst assessmentSessions = emailTasks.map((emailTask, index) => {\n  const candidate = selectedCandidates.find(c => c.email === emailTask.to) || {};\n  \n  if (!emailTask.screeningId) {\n    emailTask.screeningId = candidate.screeningId || `screening_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n  }\n  \n  // ✅ RANDOMLY SELECT UNIQUE QUESTIONS FOR THIS CANDIDATE\n  const shuffledQuestions = shuffleArray(mcqQuestions);\n  const selectedQuestions = shuffledQuestions.slice(0, questionsPerCandidate);\n  \n  console.log(`✅ Selected ${selectedQuestions.length} unique questions for ${candidate.name || emailTask.candidateName}`);\n  \n  return {\n    screeningId: emailTask.screeningId,\n    candidate: {\n      name: emailTask.candidateName || candidate.name || 'Unknown Name',\n      email: emailTask.to || candidate.email || 'unknown@email.com',\n      phone: candidate.phone || 'Not provided',\n      location: candidate.location || 'Not provided',\n      currentCompany: candidate.currentCompany || 'Not provided',\n      matchScore: candidate.matchScore || 0,\n      salaryExpectation: candidate.salaryExpectation || 'Not specified'\n    },\n    jobRequirements: {\n      jobTitle: assessmentMetadata.jobTitle || 'Data Scientist',\n      requiredSkills: assessmentMetadata.requiredSkills || 'Python, SQL, Machine Learning, Statistics, Data Visualization',\n      optionalSkills: assessmentMetadata.optionalSkills || 'None specified',\n      experienceLevel: assessmentMetadata.targetExperience || '2-5 years',\n      salaryBudget: 'Competitive',\n      questionCount: questionsPerCandidate,\n      timeLimit: assessmentMetadata.estimatedDuration || '30 minutes',\n      difficulty: assessmentMetadata.difficulty || 'intermediate',\n      focusAreas: assessmentMetadata.focusAreas || ['Comprehensive Assessment']\n    },\n    // ✅ UNIQUE QUESTIONS for this candidate\n    questions: selectedQuestions.map((q, qIndex) => ({\n      questionId: q.id || qIndex + 1,\n      questionText: q.question || `Question ${qIndex + 1}`,\n      options: {\n        A: q.options?.A || '',\n        B: q.options?.B || '',\n        C: q.options?.C || '',\n        D: q.options?.D || ''\n      },\n      correctAnswer: q.correctAnswer || 'A',\n      category: q.category || 'General',\n      difficulty: q.difficulty || 'medium',\n      explanation: q.explanation || '',\n      timeLimit: q.timeLimit || 90\n    })),\n    jid: jobRequirements.jid || null,\n    createdAt: new Date().toISOString(),\n    expiresAt: new Date(Date.now() + 3 * 24 * 60 * 60 * 1000).toISOString()\n  };\n});\n\nconsole.log(`✅ Processed ${assessmentSessions.length} assessment sessions with unique questions`);\n\n// Prepare data for PostgreSQL nodes\nconst candidatesData = [];\nconst jobRequirementsData = [];\nconst questionsData = [];\n\nassessmentSessions.forEach(session => {\n  // Candidate data for candidates table\n  candidatesData.push({\n    screening_id: session.screeningId,\n    name: session.candidate.name,\n    email: session.candidate.email,\n    phone: session.candidate.phone,\n    location: session.candidate.location,\n    current_company: session.candidate.currentCompany,\n    job_title: session.jobRequirements.jobTitle,\n    match_score: session.candidate.matchScore,\n    required_skills: session.jobRequirements.requiredSkills,\n    experience_level: session.jobRequirements.experienceLevel,\n    salary_expectation: session.candidate.salaryExpectation,\n    expires_at: session.expiresAt,\n    jid: session.jid || null,\n    status: 'pending',\n    survey_validation_status: 'pending', // ✅ NEW: Default survey status\n    technical_assessment_unlocked: false // ✅ NEW: Default locked\n  });\n  \n  // Job requirements data for job_requirements table\n  jobRequirementsData.push({\n    screening_id: session.screeningId,\n    job_title: session.jobRequirements.jobTitle,\n    required_skills: session.jobRequirements.requiredSkills,\n    optional_skills: session.jobRequirements.optionalSkills,\n    experience_level: session.jobRequirements.experienceLevel,\n    salary_budget: session.jobRequirements.salaryBudget,\n    question_count: session.jobRequirements.questionCount,\n    time_limit: session.jobRequirements.timeLimit,\n    difficulty: session.jobRequirements.difficulty,\n    focus_areas: JSON.stringify(session.jobRequirements.focusAreas)\n  });\n  \n  // ✅ UNIQUE Questions data for assessment_questions table\n  session.questions.forEach(question => {\n    questionsData.push({\n      screening_id: session.screeningId,\n      question_id: question.questionId,\n      question_text: question.questionText,\n      options: JSON.stringify(question.options),\n      correct_answer: question.correctAnswer,\n      category: question.category,\n      difficulty: question.difficulty,\n      explanation: question.explanation,\n      time_limit: question.timeLimit\n    });\n  });\n});\n\n// ✅ SURVEY QUESTIONS Data Preparation with EXPECTED ANSWERS\nconst surveyQuestionsData = [];\n\nassessmentSessions.forEach(session => {\n  workflowSurveyQuestions.forEach((question, qIndex) => {\n    surveyQuestionsData.push({\n      screening_id: session.screeningId,\n      question_id: question.surveyQuestionId || (qIndex + 1),\n      question_text: question.fieldLabel,\n      question_type: question.fieldType === 'dropdown' ? \n        (question.fieldOptions?.values?.length === 2 && \n         question.fieldOptions.values.some(opt => opt.option === 'Yes') ? 'yes_no' : 'multiple_choice') \n        : 'text',\n      options: question.fieldOptions ? JSON.stringify(question.fieldOptions) : null,\n      expected_answer: question.expectedAnswer || null, // ✅ NEW: Store expected answer\n      is_qualifying: question.isQualifying || false, // ✅ NEW: Store qualifying flag\n      question_category: question.questionCategory || 'informational', // ✅ NEW: Store category\n      validation_type: question.validationType || 'none', // ✅ NEW: Store validation type\n      created_at: new Date().toISOString()\n    });\n  });\n});\n\nconsole.log('✅ PREPARED DATA FOR POSTGRESQL WITH QUALIFYING SURVEY QUESTIONS:');\nconsole.log(`  - Candidates: ${candidatesData.length}`);\nconsole.log(`  - Job Requirements: ${jobRequirementsData.length}`);\nconsole.log(`  - MCQ Questions: ${questionsData.length} (${questionsPerCandidate} per candidate)`);\nconsole.log(`  - Survey Questions: ${surveyQuestionsData.length} (${workflowSurveyQuestions.length} per candidate)`);\n\n// Count qualifying vs informational survey questions\nconst qualifyingSurveyCount = surveyQuestionsData.filter(sq => sq.is_qualifying).length;\nconst informationalSurveyCount = surveyQuestionsData.filter(sq => !sq.is_qualifying).length;\n\nconsole.log(`  - Qualifying survey questions: ${qualifyingSurveyCount}`);\nconsole.log(`  - Informational survey questions: ${informationalSurveyCount}`);\n\n// ✅ VALIDATE QUESTION UNIQUENESS\nconst questionsByCandidate = {};\nquestionsData.forEach(q => {\n  if (!questionsByCandidate[q.screening_id]) {\n    questionsByCandidate[q.screening_id] = [];\n  }\n  questionsByCandidate[q.screening_id].push(q.question_id);\n});\n\nconsole.log('✅ QUESTION DISTRIBUTION VERIFICATION:');\nObject.entries(questionsByCandidate).forEach(([screeningId, questionIds]) => {\n  console.log(`  ${screeningId}: ${questionIds.length} MCQ questions`);\n});\n\n// ✅ VALIDATE SURVEY QUESTIONS DISTRIBUTION\nconst surveyQuestionsByCandidate = {};\nsurveyQuestionsData.forEach(sq => {\n  if (!surveyQuestionsByCandidate[sq.screening_id]) {\n    surveyQuestionsByCandidate[sq.screening_id] = [];\n  }\n  surveyQuestionsByCandidate[sq.screening_id].push(sq.question_id);\n});\n\nconsole.log('✅ SURVEY QUESTIONS DISTRIBUTION VERIFICATION:');\nObject.entries(surveyQuestionsByCandidate).forEach(([screeningId, questionIds]) => {\n  const qualifyingForThisCandidate = surveyQuestionsData.filter(sq => \n    sq.screening_id === screeningId && sq.is_qualifying\n  ).length;\n  console.log(`  ${screeningId}: ${questionIds.length} survey questions (${qualifyingForThisCandidate} qualifying)`);\n});\n\n// Return data in format expected by PostgreSQL nodes\nreturn [\n  {\n    json: {\n      // Summary for logging\n      summary: {\n        totalSessions: assessmentSessions.length,\n        totalQuestions: questionsData.length,\n        totalSurveyQuestions: surveyQuestionsData.length,\n        qualifyingSurveyQuestions: qualifyingSurveyCount,\n        informationalSurveyQuestions: informationalSurveyCount,\n        questionPoolSize: questionPoolSize,\n        questionsPerCandidate: questionsPerCandidate,\n        surveyQuestionsPerCandidate: workflowSurveyQuestions.length,\n        jobTitle: assessmentMetadata.jobTitle || 'Data Scientist',\n        requiredSkills: assessmentMetadata.requiredSkills || 'Various skills',\n        optionalSkills: assessmentMetadata.optionalSkills || 'None specified',\n        dataStorageMethod: 'postgresql_database_with_qualifying_surveys',\n        createdAt: new Date().toISOString()\n      },\n      \n      // Data for PostgreSQL nodes\n      candidatesData: candidatesData,\n      jobRequirementsData: jobRequirementsData,\n      questionsData: questionsData,\n      surveyQuestionsData: surveyQuestionsData,\n      \n      // Metadata\n      metadata: {\n        sessionsCreated: assessmentSessions.length,\n        questionsPerSession: questionsPerCandidate,\n        totalQuestionsStored: questionsData.length,\n        totalSurveyQuestionsStored: surveyQuestionsData.length,\n        qualifyingSurveyQuestionsStored: qualifyingSurveyCount,\n        informationalSurveyQuestionsStored: informationalSurveyCount,\n        questionPoolUtilized: true,\n        surveyQuestionsEnabled: surveyQuestionsData.length > 0,\n        qualifyingSurveyEnabled: qualifyingSurveyCount > 0,\n        dataStoredAt: new Date().toISOString(),\n        readyForDatabase: true,\n        uniqueQuestionsPerCandidate: true\n      },\n      \n      // Debug info\n      debugInfo: {\n        emailTasksProcessed: emailTasks.length,\n        candidatesFound: selectedCandidates.length,\n        questionPoolSize: mcqQuestions.length,\n        questionsSelectedPerCandidate: questionsPerCandidate,\n        surveyQuestionsProcessed: surveyQuestionsData.length,\n        qualifyingSurveyQuestionsProcessed: qualifyingSurveyCount,\n        informationalSurveyQuestionsProcessed: informationalSurveyCount,\n        firstScreeningId: assessmentSessions[0]?.screeningId || 'None',\n        sampleCandidate: assessmentSessions[0] ? {\n          name: assessmentSessions[0].candidate.name,\n          email: assessmentSessions[0].candidate.email,\n          screeningId: assessmentSessions[0].screeningId,\n          company: assessmentSessions[0].candidate.currentCompany,\n          uniqueQuestions: assessmentSessions[0].questions.length,\n          surveyQuestions: surveyQuestionsData.filter(sq => sq.screening_id === assessmentSessions[0].screeningId).length,\n          qualifyingSurveyQuestions: surveyQuestionsData.filter(sq => sq.screening_id === assessmentSessions[0].screeningId && sq.is_qualifying).length,\n          requiredSkills: assessmentSessions[0].jobRequirements.requiredSkills,\n          optionalSkills: assessmentSessions[0].jobRequirements.optionalSkills\n        } : null,\n        questionUniquenessVerified: true,\n        optionalSkillsSupported: true,\n        surveyQuestionsSupported: true,\n        qualifyingSurveySupported: true\n      },\n      \n      nextSteps: [\n        \"1. Data prepared for PostgreSQL storage with unique questions per candidate\",\n        \"2. Connect to PostgreSQL nodes to insert candidates, job_requirements, and questions\", \n        \"3. Survey questions will be stored with expected answers and qualifying flags\",\n        \"4. Each candidate will have different questions from the pool\",\n        \"5. Assessment platform will serve personalized questions per screening_id\",\n        \"6. Questions include both required and optional skills assessment\",\n        \"7. Survey responses will be validated against expected answers\",\n        \"8. Only candidates passing survey validation can access technical questions\"\n      ]\n    }\n  }\n];\n\n// Note: This node prepares the data with UNIQUE question selection per candidate including qualifying survey questions with expected answers."
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3728,
        800
      ],
      "id": "b12b5072-cd20-491a-9d3e-793d0b95fd99",
      "name": "Store Assessment Data1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "questionsData",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3920,
        800
      ],
      "id": "4a2be979-6449-4579-98ba-8da0e88d8933",
      "name": "Split Questions1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "assessment_questions_v2",
          "mode": "list",
          "cachedResultName": "assessment_questions_v2"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "id": 0,
            "question_id": 0,
            "time_limit": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "screening_id",
              "displayName": "screening_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "question_id",
              "displayName": "question_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "question_text",
              "displayName": "question_text",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "options",
              "displayName": "options",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "correct_answer",
              "displayName": "correct_answer",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "difficulty",
              "displayName": "difficulty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "explanation",
              "displayName": "explanation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time_limit",
              "displayName": "time_limit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4144,
        800
      ],
      "id": "f543bb0c-b939-4b25-b931-b4b7c55a684e",
      "name": "Insert Questions1"
    }
  ],
  "pinData": {},
  "connections": {
    "Generate Assessment Trigger": {
      "main": [
        [
          {
            "node": "Fetch Job Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Job Description": {
      "main": [
        [
          {
            "node": "Get items in a folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get items in a folder": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Prepare Dynamic AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Dynamic AI Prompt": {
      "main": [
        [
          {
            "node": "AI Resume Matcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Resume Matcher",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Resume Matcher",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Resume Matcher": {
      "main": [
        [
          {
            "node": "Convert AI Output to Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert AI Output to Items": {
      "main": [
        [
          {
            "node": "Process Selections & Generate MCQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCQ Generation Agent": {
      "main": [
        [
          {
            "node": "Parse MCQ & Prepare Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse MCQ & Prepare Emails": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Store Assessment Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "MCQ Generation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Process Selections & Generate MCQ": {
      "main": [
        [
          {
            "node": "MCQ Generation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Candidates": {
      "main": [
        [
          {
            "node": "Insert Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Job Requirements": {
      "main": [
        [
          {
            "node": "Insert Job Requirements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Survey Questions": {
      "main": [
        [
          {
            "node": "Insert Survey Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add resume text to candidate table": {
      "main": [
        [
          {
            "node": "Split Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Assessment Data1": {
      "main": [
        [
          {
            "node": "Split Job Requirements",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Questions1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Survey Questions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add resume text to candidate table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Questions1": {
      "main": [
        [
          {
            "node": "Insert Questions1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b362e919-8f53-42f5-a765-f4beecb01f10",
  "meta": {
    "instanceId": "15fffc33a80576778b43247a277ba840ae47858c945800ebec76dbcc7310b7ee"
  },
  "id": "Dt8kX9Sd0gF5wsrC",
  "tags": []
}