workflows/Video_Interview_Question_Generation_and_email.json
{
  "name": "Video Interview - Question Generation and email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "start-round2-video-interview",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -448,
        144
      ],
      "id": "9a9f58b3-b821-4ea0-8bef-d9580b54d987",
      "name": "Round 2 Trigger",
      "webhookId": "1a95ac36-f4a5-4ea0-a4ed-b0389b795102"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// Process Round 2 Form - Simple Input\n// ========================================\n\nconst request = $input.first().json;\n\nconsole.log('=== ROUND 2 VIDEO INTERVIEW TRIGGER ===');\n\n// Handle CORS preflight\nif (request.httpMethod === 'OPTIONS' || request.method === 'OPTIONS') {\n  return [{ json: { message: 'CORS preflight successful' } }];\n}\n\n// Extract request body\nlet requestBody;\ntry {\n  requestBody = typeof request.body === 'string' ? JSON.parse(request.body) : request.body;\n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      error: 'Invalid request body',\n      message: 'Request body must be valid JSON',\n      status: 400\n    }\n  }];\n}\n\n// Extract form data - SIMPLIFIED INPUT\nconst jobPositionId = requestBody.jobPositionId || requestBody.job_position_id;\nconst batchName = requestBody.batchName || 'Latest MCQ Batch';\n\nconsole.log('Job Position ID:', jobPositionId);\nconsole.log('Batch Name:', batchName);\n\n// Validation\nif (!jobPositionId) {\n  return [{\n    json: {\n      success: false,\n      error: 'Missing job position ID',\n      message: 'Please provide jobPositionId to identify which MCQ batch to process',\n      status: 400\n    }\n  }];\n}\n\n// Return trigger data\nreturn [{\n  json: {\n    jobPositionId: jobPositionId,\n    batchName: batchName,\n    triggeredAt: new Date().toISOString(),\n    workflowStage: 'round_2_video_interview',\n    \n    // Query parameters for database\n    queryParams: {\n      jobPositionId: jobPositionId,\n      batchName: batchName\n    },\n    \n    nextStep: 'Query MCQ database for passed candidates'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        144
      ],
      "id": "83bd6f7e-e856-4455-92ea-ca0f8b7d326b",
      "name": "Process Round 2 Form"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get the JD from Round 1\nSELECT DISTINCT\n  job_title,\n  required_skills,\n  optional_skills,\n  experience_level,\n  salary_budget,\n  question_count,\n  time_limit,\n  difficulty,\n  focus_areas\nFROM job_requirements_v2\nWHERE screening_id IN (\n  SELECT c.screening_id\n  FROM candidates_v2 c\n  INNER JOIN assessment_results_v2 r ON c.screening_id = r.screening_id\n  WHERE r.is_passed = TRUE\n    AND c.created_at >= NOW() - INTERVAL '30 days'\n)\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        224
      ],
      "id": "211084df-8b7a-4f90-a63f-94ad99b000c8",
      "name": "Get Round 1 Job Requirements",
      "credentials": {
        "postgres": {
          "id": "gHM50gmd1d9Uv1wd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// Prepare Candidate Loop Data\n// ========================================\n\nconst mergedData = $input.all();\n\nconsole.log('=== PREPARING CANDIDATE LOOP FOR ROUND 2 ===');\n\n// Extract candidates and JD\nlet candidates = [];\nlet jobRequirements = {};\n\n// The merge node combines data into single objects with both candidate and JD fields\nmergedData.forEach(item => {\n  const data = item.json;\n  \n  // If it has screening_id, it's candidate data\n  if (data.screening_id) {\n    candidates.push(data);\n    \n    // Extract JD fields from the same merged object\n    if (data.salary_budget || data.question_count || data.focus_areas) {\n      jobRequirements = {\n        job_title: data.job_title,\n        required_skills: data.required_skills,\n        optional_skills: data.optional_skills,\n        experience_level: data.experience_level,\n        salary_budget: data.salary_budget\n      };\n    }\n  }\n});\n\nconsole.log(`✅ Found ${candidates.length} passed candidates`);\nconsole.log(`✅ Job Title: ${jobRequirements.job_title || 'Unknown'}`);\n\n// Validate we have data\nif (candidates.length === 0) {\n  throw new Error('No passed candidates found in database');\n}\n\nif (!jobRequirements.job_title) {\n  throw new Error('No job requirements found in database');\n}\n\n// Log candidate summary\nconsole.log('\\n📊 CANDIDATE SUMMARY:');\ncandidates.forEach((c, idx) => {\n  console.log(`  ${idx + 1}. ${c.name} - MCQ: ${c.score_percentage}%, Match: ${c.match_score}%`);\n  console.log(`     Resume: ${c.resume_file_name || 'N/A'} (${c.resume_text?.length || 0} chars)`);\n});\n\nconsole.log('\\n📋 JOB REQUIREMENTS:');\nconsole.log(`  Position: ${jobRequirements.job_title}`);\nconsole.log(`  Required Skills: ${jobRequirements.required_skills}`);\nconsole.log(`  Optional Skills: ${jobRequirements.optional_skills || 'None'}`);\nconsole.log(`  Experience: ${jobRequirements.experience_level}`);\n\n// Prepare data for loop\nreturn [{\n  json: {\n    candidates: candidates,\n    candidateCount: candidates.length,\n    \n    jobRequirements: {\n      title: jobRequirements.job_title,\n      description: '', // Not stored in Round 1, add if needed\n      requiredSkills: jobRequirements.required_skills,\n      optionalSkills: jobRequirements.optional_skills,\n      experienceLevel: jobRequirements.experience_level,\n      salaryBudget: jobRequirements.salary_budget\n    },\n    \n    videoConfig: {\n      questionsPerCandidate: 5,\n      timePerQuestion: 120, // 2 minutes\n      totalDuration: 600, // 10 minutes\n      proctoringEnabled: true\n    },\n    \n    metadata: {\n      processedAt: new Date().toISOString(),\n      totalCandidates: candidates.length,\n      avgMCQScore: Math.round(candidates.reduce((sum, c) => sum + c.score_percentage, 0) / candidates.length),\n      avgMatchScore: Math.round(candidates.reduce((sum, c) => sum + c.match_score, 0) / candidates.length),\n      readyForPersonalization: true\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        128
      ],
      "id": "76731dbe-541f-49b6-8090-010f5157d4ab",
      "name": "Prepare Candidate Loop"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        304,
        128
      ],
      "id": "0970b5d7-fa20-4dee-bbb9-9a8e99add147",
      "name": "Merge Candidates and JD"
    },
    {
      "parameters": {
        "fieldToSplitOut": "candidates",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        752,
        128
      ],
      "id": "f1a52193-fa83-4d42-8ab1-b9bad40ebf72",
      "name": "Split Candidates for Processing"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// Extract Individual Candidate Data\n// ========================================\n\nconst loopData = $input.first().json;\n\nconsole.log('=== PROCESSING INDIVIDUAL CANDIDATE ===');\n\n// The candidate data is in the current item\nconst candidate = loopData;\n\n// Get job requirements from the parent data\nlet jobRequirements = {};\nlet videoConfig = {};\n\ntry {\n  const parentData = $('Prepare Candidate Loop').first().json;\n  jobRequirements = parentData.jobRequirements;\n  videoConfig = parentData.videoConfig;\n} catch (error) {\n  console.log('⚠️ Using default job requirements');\n  jobRequirements = {\n    title: 'Software Engineer',\n    requiredSkills: 'Programming',\n    experienceLevel: '2-5 years'\n  };\n  videoConfig = {\n    questionsPerCandidate: 5,\n    timePerQuestion: 120\n  };\n}\n\nconsole.log(`\\n👤 CANDIDATE: ${candidate.name}`);\nconsole.log(`   Email: ${candidate.email}`);\nconsole.log(`   MCQ Score: ${candidate.score_percentage}%`);\nconsole.log(`   Match Score: ${candidate.match_score}%`);\nconsole.log(`   Resume Available: ${candidate.resume_text ? 'YES' : 'NO'}`);\nconsole.log(`   Resume Length: ${candidate.resume_text?.length || 0} characters`);\n\n// Generate unique video assessment ID\nconst videoAssessmentId = `video_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\n// Create expiration (3 days from now)\nconst expiresAt = new Date(Date.now() + 3 * 24 * 60 * 60 * 1000).toISOString();\n\n// Return candidate with context for AI question generation\nreturn [{\n  json: {\n    // Candidate info\n    screening_id: candidate.screening_id,\n    video_assessment_id: videoAssessmentId,\n    name: candidate.name,\n    email: candidate.email,\n    phone: candidate.phone || 'N/A',\n    location: candidate.location || 'N/A',\n    current_company: candidate.current_company || 'N/A',\n    job_title: candidate.job_title || 'N/A',\n    experience_level: candidate.experience_level || 'Unknown',\n    \n    // Resume data\n    resume_text: candidate.resume_text || '',\n    resume_file_name: candidate.resume_file_name || 'Resume.pdf',\n    resume_drive_url: candidate.resume_drive_url || '',\n    \n    // Scores\n    mcq_score: candidate.score_percentage || 0,\n    match_score: candidate.match_score || 0,\n    mcq_grade: candidate.grade || 'N/A',\n    \n    // Job context\n    jobRequirements: jobRequirements,\n    videoConfig: videoConfig,\n    \n    // Metadata\n    expires_at: expiresAt,\n    invited_at: new Date().toISOString(),\n    status: 'video_invited'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        128
      ],
      "id": "5090b79d-558f-4642-8384-403992fdd609",
      "name": "Extract Individual Candidate"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// Generate Personalized Video Question Prompt\n// ========================================\n\nconst candidateData = $input.first().json;\n\nconsole.log(`\\n=== GENERATING PERSONALIZED QUESTIONS FOR: ${candidateData.name} ===`);\n\nconst jd = candidateData.jobRequirements;\nconst config = candidateData.videoConfig;\n\n// Create personalized AI prompt\nconst personalizedPrompt = `You are an expert technical interviewer. Generate exactly ${config.questionsPerCandidate} personalized video interview questions for THIS SPECIFIC CANDIDATE for the ${jd.title} position.\n\n**CANDIDATE PROFILE:**\n- Name: ${candidateData.name}\n- Current Role: ${candidateData.job_title} at ${candidateData.current_company}\n- Experience Level: ${candidateData.experience_level}\n- MCQ Assessment Score: ${candidateData.mcq_score}% (Grade: ${candidateData.mcq_grade})\n- Overall Match Score: ${candidateData.match_score}%\n\n**CANDIDATE'S COMPLETE RESUME:**\n${candidateData.resume_text}\n\n**JOB REQUIREMENTS:**\n- Position: ${jd.title}\n- Required Skills: ${jd.requiredSkills}\n- Optional Skills: ${jd.optionalSkills || 'None specified'}\n- Experience Level: ${jd.experienceLevel}\n- Salary Range: ${jd.salaryBudget || 'Competitive'}\n\n**QUESTION GENERATION RULES:**\n\nGenerate EXACTLY ${config.questionsPerCandidate} questions with this distribution:\n\n1. **Technical Deep Dive (Questions 1-2):** \n   - Focus on ${jd.requiredSkills}\n   - Can be similar across candidates (core technical concepts)\n   - Match their ${candidateData.experience_level} level\n   - Test depth of knowledge\n\n2. **Resume-Specific Questions (Questions 3-4):** \n   - MUST BE UNIQUE TO THIS CANDIDATE\n   - Reference THEIR specific projects from the resume\n   - Ask about THEIR work at ${candidateData.current_company}\n   - Probe into THEIR specific technical achievements\n   - Mention actual project names, technologies, or accomplishments from THEIR resume\n\n3. **Problem-Solving Scenario (Question 5):**\n   - Real-world problem relevant to ${jd.title}\n   - Can be similar across candidates\n   - Tests practical application of ${jd.requiredSkills}\n\n**PERSONALIZATION REQUIREMENTS:**\n- Questions 3 and 4 MUST reference specific details from THIS candidate's resume\n- Use their actual company names, project names, or specific experiences\n- Make it clear these questions are tailored to THEM\n- Show you read and understood THEIR background\n\n**ANSWER EXPECTATIONS:**\n- Each question should take ${config.timePerQuestion} seconds (2 minutes) to answer\n- Questions must be open-ended (no yes/no)\n- Encourage detailed explanations and examples\n- Test both knowledge and communication skills\n\n**OUTPUT FORMAT (JSON ONLY, NO MARKDOWN):**\n{\n  \"candidateId\": \"${candidateData.video_assessment_id}\",\n  \"candidateName\": \"${candidateData.name}\",\n  \"jobTitle\": \"${jd.title}\",\n  \"generatedAt\": \"${new Date().toISOString()}\",\n  \"questions\": [\n    {\n      \"questionId\": 1,\n      \"questionText\": \"Your detailed question here...\",\n      \"category\": \"technical_deep_dive\",\n      \"difficulty\": \"medium\",\n      \"timeLimit\": ${config.timePerQuestion},\n      \"isPersonalized\": false,\n      \"evaluationCriteria\": [\n        \"Technical accuracy\",\n        \"Depth of knowledge\",\n        \"Clarity of explanation\"\n      ],\n      \"keyPoints\": [\n        \"Should mention X\",\n        \"Should explain Y\",\n        \"Should demonstrate Z\"\n      ]\n    },\n    {\n      \"questionId\": 2,\n      \"questionText\": \"Your detailed question here...\",\n      \"category\": \"technical_deep_dive\",\n      \"difficulty\": \"medium\",\n      \"timeLimit\": ${config.timePerQuestion},\n      \"isPersonalized\": false,\n      \"evaluationCriteria\": [...],\n      \"keyPoints\": [...]\n    },\n    {\n      \"questionId\": 3,\n      \"questionText\": \"Based on your resume, you worked on [SPECIFIC PROJECT] at ${candidateData.current_company}. Can you walk me through...\",\n      \"category\": \"resume_specific\",\n      \"difficulty\": \"medium\",\n      \"timeLimit\": ${config.timePerQuestion},\n      \"isPersonalized\": true,\n      \"personalizedDetails\": \"References specific project/experience from their resume\",\n      \"evaluationCriteria\": [...],\n      \"keyPoints\": [...]\n    },\n    {\n      \"questionId\": 4,\n      \"questionText\": \"I noticed you have experience with [SPECIFIC TECHNOLOGY from resume]. How did you apply this in...\",\n      \"category\": \"resume_specific\",\n      \"difficulty\": \"medium\",\n      \"timeLimit\": ${config.timePerQuestion},\n      \"isPersonalized\": true,\n      \"personalizedDetails\": \"References their specific technical experience\",\n      \"evaluationCriteria\": [...],\n      \"keyPoints\": [...]\n    },\n    {\n      \"questionId\": 5,\n      \"questionText\": \"Scenario-based problem-solving question...\",\n      \"category\": \"problem_solving\",\n      \"difficulty\": \"medium\",\n      \"timeLimit\": ${config.timePerQuestion},\n      \"isPersonalized\": false,\n      \"evaluationCriteria\": [...],\n      \"keyPoints\": [...]\n    }\n  ]\n}\n\n**CRITICAL REQUIREMENTS:**\n- Return ONLY valid JSON (no markdown, no code blocks)\n- Questions 3 and 4 MUST be personalized with resume details\n- All ${config.questionsPerCandidate} questions must be included\n- Each question should be clear, professional, and answerable in ${config.timePerQuestion} seconds\n- Focus heavily on ${jd.requiredSkills}\n`;\n\nconsole.log(`✅ Generated prompt for ${candidateData.name}`);\nconsole.log(`   Job: ${jd.title}`);\nconsole.log(`   Questions: ${config.questionsPerCandidate}`);\nconsole.log(`   Resume length: ${candidateData.resume_text?.length || 0} chars`);\n\nreturn [{\n  json: {\n    // Pass through candidate data\n    ...candidateData,\n    \n    // AI prompt\n    aiPrompt: personalizedPrompt,\n    \n    // Metadata\n    promptMetadata: {\n      candidateName: candidateData.name,\n      candidateEmail: candidateData.email,\n      jobTitle: jd.title,\n      questionCount: config.questionsPerCandidate,\n      resumeLength: candidateData.resume_text?.length || 0,\n      generatedAt: new Date().toISOString()\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        128
      ],
      "id": "9f676a2f-6b34-462d-a475-15b5d8f411ed",
      "name": "Generate Personalized Question Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.aiPrompt }}",
        "options": {
          "systemMessage": "You are an expert technical interviewer specializing in personalized video interview questions. \n  Generate questions that are specifically tailored to each candidate's background and experience.\n  Return ONLY valid JSON without any markdown formatting or code blocks."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1408,
        128
      ],
      "id": "48fd8145-10dd-4e8e-b26d-d174f65f1905",
      "name": "AI Generate Questions"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1280,
        368
      ],
      "id": "60577b2f-ba0f-44fd-8e12-2d8a9331a36a",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "zy8tywBKHidhyh4t",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// Parse AI Generated Questions\n// ========================================\n\nconst aiResponse = $input.first().json;\n\nconsole.log('=== PARSING AI GENERATED QUESTIONS ===');\n\n// Get candidate data from previous node\nlet candidateData = {};\ntry {\n  candidateData = $('Generate Personalized Question Prompt').first().json;\n} catch (error) {\n  console.log('⚠️ Could not get candidate data from previous node');\n}\n\n// Parse AI response\nlet questionsData;\ntry {\n  // Try to get from different possible response formats\n  if (aiResponse.output && typeof aiResponse.output === 'string') {\n    // Remove markdown code blocks if present\n    let cleanedOutput = aiResponse.output.trim();\n    cleanedOutput = cleanedOutput.replace(/```json\\s*/g, '').replace(/```\\s*$/g, '').trim();\n    \n    // Find JSON array/object\n    const startIndex = cleanedOutput.search(/[{\\[]/);\n    const endIndex = cleanedOutput.lastIndexOf('}') > cleanedOutput.lastIndexOf(']') \n      ? cleanedOutput.lastIndexOf('}') \n      : cleanedOutput.lastIndexOf(']');\n    \n    if (startIndex !== -1 && endIndex !== -1) {\n      cleanedOutput = cleanedOutput.substring(startIndex, endIndex + 1);\n    }\n    \n    questionsData = JSON.parse(cleanedOutput);\n  } else if (aiResponse.output && typeof aiResponse.output === 'object') {\n    questionsData = aiResponse.output;\n  } else if (typeof aiResponse === 'string') {\n    questionsData = JSON.parse(aiResponse);\n  } else {\n    questionsData = aiResponse;\n  }\n} catch (error) {\n  console.error('❌ Failed to parse questions:', error.message);\n  throw new Error(`Failed to parse AI response: ${error.message}`);\n}\n\n// Validate questions\nconst questions = questionsData.questions || [];\n\nif (questions.length !== 5) {\n  console.warn(`⚠️ Expected 5 questions, got ${questions.length}`);\n}\n\nconsole.log(`✅ Parsed ${questions.length} questions for ${candidateData.name}`);\n\n// Log personalization check\nconst personalizedQuestions = questions.filter(q => q.isPersonalized);\nconsole.log(`   Personalized questions: ${personalizedQuestions.length}`);\n\nquestions.forEach((q, idx) => {\n  console.log(`   ${idx + 1}. [${q.category}] ${q.isPersonalized ? '⭐ PERSONALIZED' : 'Standard'}`);\n  console.log(`      ${q.questionText.substring(0, 80)}...`);\n});\n\nreturn [{\n  json: {\n    // Candidate data\n    video_assessment_id: candidateData.video_assessment_id,\n    screening_id: candidateData.screening_id,\n    name: candidateData.name,\n    email: candidateData.email,\n    phone: candidateData.phone,\n    location: candidateData.location,\n    current_company: candidateData.current_company,\n    job_title: candidateData.job_title,\n    experience_level: candidateData.experience_level,\n    match_score: candidateData.match_score,\n    expires_at: candidateData.expires_at,\n    invited_at: candidateData.invited_at,\n    \n    // Job requirements\n    jobRequirements: candidateData.jobRequirements,\n    \n    // Generated questions\n    questions: questions,\n    questionsCount: questions.length,\n    personalizedQuestionsCount: personalizedQuestions.length,\n    \n    // Metadata\n    questionGeneratedAt: new Date().toISOString(),\n    videoConfig: candidateData.videoConfig\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        128
      ],
      "id": "e53f4169-2cf2-4cd7-b29c-b37529839ab6",
      "name": "Parse Generated Questions"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "video_interview_candidates",
          "mode": "list",
          "cachedResultName": "video_interview_candidates"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "interview_started": false,
            "interview_completed": false,
            "videos_uploaded": false,
            "match_score": "={{ $json.match_score }}",
            "proctoring_flags": 0,
            "video_assessment_id": "={{ $json.video_assessment_id }}",
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "phone": "={{ $json.phone }}",
            "location": "={{ $json.location }}",
            "current_company": "={{ $json.current_company }}",
            "job_title": "={{ $json.job_title }}",
            "required_skills": "={{ $json.jobRequirements.requiredSkills }}",
            "experience_level": "={{ $json.experience_level }}",
            "expires_at": "={{ $json.expires_at }}",
            "status": "invited"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_assessment_id",
              "displayName": "video_assessment_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_company",
              "displayName": "current_company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "match_score",
              "displayName": "match_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "candidate_skills",
              "displayName": "candidate_skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "required_skills",
              "displayName": "required_skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "experience_level",
              "displayName": "experience_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "salary_expectation",
              "displayName": "salary_expectation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "expires_at",
              "displayName": "expires_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "interview_started",
              "displayName": "interview_started",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "interview_completed",
              "displayName": "interview_completed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "videos_uploaded",
              "displayName": "videos_uploaded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "proctoring_flags",
              "displayName": "proctoring_flags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1968,
        128
      ],
      "id": "1e75f4a0-b9cd-4255-99f9-c407f6122e92",
      "name": "Insert Video Interview Candidate",
      "credentials": {
        "postgres": {
          "id": "oWYyagdraBah9Hpf",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "video_interview_questions",
          "mode": "list",
          "cachedResultName": "video_interview_questions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "question_id": "={{ $json.questionId }}",
            "time_limit": "={{ $json.timeLimit }}",
            "video_assessment_id": "={{ $json.video_assessment_id }}",
            "question_text": "={{ $json.questionText }}",
            "question_type": "video",
            "category": "={{ $json.category }}",
            "difficulty": "={{ $json.difficulty }}",
            "expected_response_type": "video",
            "evaluation_criteria": "={{ { criteria: $json.evaluationCriteria } }}",
            "key_points": "={{ { points: $json.keyPoints } }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_assessment_id",
              "displayName": "video_assessment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "question_id",
              "displayName": "question_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "question_text",
              "displayName": "question_text",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "question_type",
              "displayName": "question_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "difficulty",
              "displayName": "difficulty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time_limit",
              "displayName": "time_limit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "expected_response_type",
              "displayName": "expected_response_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "evaluation_criteria",
              "displayName": "evaluation_criteria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "key_points",
              "displayName": "key_points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2560,
        128
      ],
      "id": "7918e854-ed3d-4605-806f-edfa342facf1",
      "name": "Insert Video Questions",
      "credentials": {
        "postgres": {
          "id": "oWYyagdraBah9Hpf",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "video_job_requirements",
          "mode": "list",
          "cachedResultName": "video_job_requirements"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "recording_enabled": false,
            "proctoring_enabled": false,
            "video_assessment_id": "={{ $json.video_assessment_id }}",
            "job_title": "={{ $json.jobRequirements.title }}",
            "required_skills": "={{ $json.jobRequirements.requiredSkills }}",
            "optional_skills": "={{ $json.jobRequirements.optionalSkills }}",
            "experience_level": "={{ $json.jobRequirements.experienceLevel }}",
            "salary_budget": "={{ $json.jobRequirements.salaryBudget }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_assessment_id",
              "displayName": "video_assessment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "required_skills",
              "displayName": "required_skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "optional_skills",
              "displayName": "optional_skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "experience_level",
              "displayName": "experience_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "salary_budget",
              "displayName": "salary_budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "question_count",
              "displayName": "question_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "total_duration",
              "displayName": "total_duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "time_per_question",
              "displayName": "time_per_question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "difficulty",
              "displayName": "difficulty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "focus_areas",
              "displayName": "focus_areas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "interview_format",
              "displayName": "interview_format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "recording_enabled",
              "displayName": "recording_enabled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "proctoring_enabled",
              "displayName": "proctoring_enabled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2144,
        128
      ],
      "id": "fa262d8d-9db0-4f95-85fe-1930e06c3995",
      "name": "Insert Video Job Requirements",
      "credentials": {
        "postgres": {
          "id": "oWYyagdraBah9Hpf",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// Prepare Video Interview Email - FIXED VERSION\n// ========================================\n\n// Get candidate data\nlet candidateData = {};\ntry {\n  candidateData = $('Parse Generated Questions').first().json;\n} catch (error) {\n  console.log('Could not get candidate data');\n  throw new Error('Failed to get candidate data for email');\n}\n\nconsole.log(`\\n📧 PREPARING EMAIL FOR: ${candidateData.name}`);\n\nconst videoInterviewUrl = `http://127.0.0.1:5500/video-interview.html?id=${candidateData.video_assessment_id}`;\n\nconst emailHTML = `\n<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background: #f8f9fa;\">\n  \n  <!-- Header -->\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; border-radius: 12px; text-align: center; margin-bottom: 25px;\">\n    <h1 style=\"margin: 0; font-size: 24px;\">🎥 Video Interview Invitation - Round 2</h1>\n    <p style=\"margin: 10px 0 0 0; font-size: 16px; opacity: 0.9;\">${candidateData.jobRequirements.title} Position</p>\n  </div>\n  \n  <!-- Personal Greeting -->\n  <div style=\"background: white; padding: 25px; border-radius: 8px; margin-bottom: 20px; border-left: 4px solid #28a745;\">\n    <p style=\"margin: 0 0 15px 0; font-size: 16px;\">Dear <strong>${candidateData.name}</strong>,</p>\n    <p style=\"margin: 0; color: #495057; line-height: 1.6;\">\n      Congratulations on passing the technical assessment! 🎉<br><br>\n      You are now invited to our personalized video interview. \n      We've carefully crafted <strong>5 unique questions</strong> specifically for you based on your background and experience.\n    </p>\n  </div>\n  \n  <!-- Interview Details -->\n  <div style=\"background: white; padding: 25px; border-radius: 8px; margin-bottom: 20px;\">\n    <h3 style=\"margin: 0 0 15px 0; color: #2c3e50;\">📋 Interview Details</h3>\n    <ul style=\"margin: 0; padding-left: 20px; color: #495057; line-height: 1.8;\">\n      <li><strong>Format:</strong> Video Interview (5 personalized questions)</li>\n      <li><strong>Duration:</strong> Approximately 10 minutes</li>\n      <li><strong>Time per Question:</strong> 2 minutes to answer</li>\n      <li><strong>Questions:</strong> Mix of technical and experience-based</li>\n    </ul>\n  </div>\n  \n  <!-- Important Instructions (MOVED ABOVE BUTTON) -->\n  <div style=\"background: #fff3cd; border: 1px solid #ffeaa7; border-radius: 8px; padding: 20px; margin-bottom: 20px;\">\n    <h3 style=\"margin: 0 0 15px 0; color: #856404;\">⚠️ Important Instructions</h3>\n    <ul style=\"margin: 0; padding-left: 20px; color: #856404; font-size: 14px; line-height: 1.6;\">\n      <li><strong>Camera & Microphone:</strong> Ensure both are working</li>\n      <li><strong>Stable Internet:</strong> Required for video upload</li>\n      <li><strong>Quiet Environment:</strong> Minimal background noise</li>\n      <li><strong>Good Lighting:</strong> Your face should be clearly visible</li>\n      <li><strong>Professional Setting:</strong> Dress appropriately</li>\n      <li><strong>Answer in English:</strong> All responses must be in English</li>\n      <li><strong>Single Attempt:</strong> You can only take this interview once</li>\n      <li><strong>Complete Soon:</strong> Within 3 days of receiving this email</li>\n    </ul>\n  </div>\n  \n  <!-- Access Link -->\n  <div style=\"background: linear-gradient(135deg, #28a745 0%, #20c997 100%); border-radius: 8px; padding: 25px; margin-bottom: 20px; text-align: center;\">\n    <h3 style=\"margin: 0 0 15px 0; color: white;\">🔗 Start Your Personalized Interview</h3>\n    <a href=\"${videoInterviewUrl}\" \n       style=\"display: inline-block; background: white; color: #28a745; padding: 15px 40px; border-radius: 6px; text-decoration: none; font-weight: bold; margin: 10px 0; font-size: 16px;\">\n      Begin Video Interview\n    </a>\n    <p style=\"margin: 15px 0 0 0; font-size: 13px; color: white; opacity: 0.9;\">\n      <strong>Interview ID:</strong> ${candidateData.video_assessment_id}<br>\n      <strong>Expires:</strong> ${new Date(candidateData.expires_at).toLocaleDateString()} (3 days)\n    </p>\n  </div>\n  \n  <!-- Encouragement -->\n  <div style=\"background: white; padding: 20px; border-radius: 8px; text-align: center; margin-bottom: 20px;\">\n    <p style=\"margin: 0; color: #495057; font-size: 15px; line-height: 1.6;\">\n      💡 <strong>Tip:</strong> The questions are based on <em>your specific experience</em>, so review your resume before starting!\n    </p>\n  </div>\n  \n  <!-- Footer -->\n  <div style=\"background: #f8f9fa; padding: 20px; border-radius: 8px; text-align: center;\">\n    <p style=\"margin: 0 0 10px 0; color: #6c757d; font-size: 14px;\">\n      Questions? Contact our HR team at hr@company.com\n    </p>\n    <p style=\"margin: 0; color: #6c757d; font-size: 14px;\">\n      <strong>We're excited to learn more about you!</strong>\n    </p>\n  </div>\n  \n</div>\n`;\n\nreturn [{\n  json: {\n    to: candidateData.email,\n    subject: `🎥 Round 2: Your Personalized Video Interview - ${candidateData.jobRequirements.title}`,\n    html: emailHTML,\n    \n    // Metadata for tracking\n    candidate_name: candidateData.name,\n    video_assessment_id: candidateData.video_assessment_id,\n    expires_at: candidateData.expires_at,\n    interview_url: videoInterviewUrl\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2768,
        128
      ],
      "id": "0cd92c85-aee7-4564-b32d-bc7fdd7cc0de",
      "name": "Prepare Video Interview Email"
    },
    {
      "parameters": {
        "jsCode": "const allEmails = $input.all();\n\nconsole.log('\\n=== ROUND 2 VIDEO INTERVIEW SUMMARY ===');\n\nconst summary = {\n  success: true,\n  totalCandidatesProcessed: allEmails.length,\n  emailsSent: allEmails.length,\n  processedAt: new Date().toISOString(),\n  \n  candidates: allEmails.map(email => ({\n    name: email.json.candidate_name,\n    email: email.json.to,\n    video_assessment_id: email.json.video_assessment_id,\n    interview_url: email.json.interview_url,\n    expires_at: email.json.expires_at\n  })),\n  \n  status: 'completed',\n  message: `Successfully processed ${allEmails.length} candidates for Round 2 video interviews`\n};\n\nconsole.log(`✅ ${summary.totalCandidatesProcessed} candidates invited`);\n\nreturn [{ json: summary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3184,
        128
      ],
      "id": "82ab0f34-87b1-4583-aacd-4fe5e66b4c41",
      "name": "Create Round 2 Summary"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "=={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3408,
        128
      ],
      "id": "641024ad-3ef5-4940-9d20-7bccae28a019",
      "name": "Send Success Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get all passed candidates with their resume data\nSELECT \n  c.screening_id,\n  c.name,\n  c.email,\n  c.phone,\n  c.location,\n  c.current_company,\n  c.job_title,\n  c.match_score,\n  c.required_skills,\n  c.experience_level,\n  c.salary_expectation,\n  c.resume_drive_id,\n  c.resume_file_name,\n  c.resume_drive_url,\n  c.resume_text,\n  r.score_percentage,\n  r.grade,\n  r.correct_answers,\n  r.total_questions,\n  r.completed_at,\n  r.is_passed\nFROM candidates_v2 c\nINNER JOIN assessment_results_v2 r \n  ON c.screening_id = r.screening_id\nWHERE r.is_passed = TRUE\n  AND c.created_at >= NOW() - INTERVAL '30 days'\nORDER BY r.score_percentage DESC, c.match_score DESC\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "9d9dc1dd-b987-4935-a63f-36a5bcd52d36",
      "name": "Get Passed Candidates with Resumes",
      "credentials": {
        "postgres": {
          "id": "gHM50gmd1d9Uv1wd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the questions from Parse Generated Questions node\nconst questionsData = $('Parse Generated Questions').first().json.questions;\nconst videoAssessmentId = $('Parse Generated Questions').first().json.video_assessment_id;\n\n// Return each question with the video_assessment_id\nreturn questionsData.map(q => ({\n  json: {\n    ...q,\n    video_assessment_id: videoAssessmentId\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        128
      ],
      "id": "c79d87ae-462b-439c-b53e-80c02ad9c490",
      "name": "Prepare Questions for Insert"
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "bodyContent": "={{ $json.html }}",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2976,
        128
      ],
      "id": "75a772b2-40b8-49a2-9167-0a450ca494c1",
      "name": "Send a message",
      "webhookId": "190618bc-6dc2-45f3-86ab-ded1f17e42f4",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "5KoJGJBrr48AFbD1",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1408,
        432
      ],
      "id": "9828fb55-955d-42d3-8e83-add10c7cb442",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "oaDknwqQec1ZdiHM",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Round 2 Trigger": {
      "main": [
        [
          {
            "node": "Process Round 2 Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Round 2 Form": {
      "main": [
        [
          {
            "node": "Get Passed Candidates with Resumes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Round 1 Job Requirements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Round 1 Job Requirements": {
      "main": [
        [
          {
            "node": "Merge Candidates and JD",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Candidates and JD": {
      "main": [
        [
          {
            "node": "Prepare Candidate Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Candidate Loop": {
      "main": [
        [
          {
            "node": "Split Candidates for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Candidates for Processing": {
      "main": [
        [
          {
            "node": "Extract Individual Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Individual Candidate": {
      "main": [
        [
          {
            "node": "Generate Personalized Question Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Personalized Question Prompt": {
      "main": [
        [
          {
            "node": "AI Generate Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Generate Questions",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Generate Questions": {
      "main": [
        [
          {
            "node": "Parse Generated Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Generated Questions": {
      "main": [
        [
          {
            "node": "Insert Video Interview Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Video Interview Candidate": {
      "main": [
        [
          {
            "node": "Insert Video Job Requirements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Video Job Requirements": {
      "main": [
        [
          {
            "node": "Prepare Questions for Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Video Questions": {
      "main": [
        [
          {
            "node": "Prepare Video Interview Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Video Interview Email": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Round 2 Summary": {
      "main": [
        [
          {
            "node": "Send Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Passed Candidates with Resumes": {
      "main": [
        [
          {
            "node": "Merge Candidates and JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Questions for Insert": {
      "main": [
        [
          {
            "node": "Insert Video Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Create Round 2 Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fbdfa734-ad79-4538-9860-013b42a4ce67",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "40aada8a4ba279910b0f7a1293e0252f9879b72101632b6cd87e8e36d4b1d18e"
  },
  "id": "YUIcGB1Ki6spMbox",
  "tags": []
}